@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-appearance: none;
}
* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: Roboto!important;
  background: #f1c40f;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  width: 100%;
  max-width: 290px;
  height: 290px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  padding: 50px 15px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.wrapper .inputbox {
  width: 100%;
}
.wrapper .inputbox label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.wrapper .inputbox button {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #fff;
  background: #3498db;
  border-radius: 5px;
  border: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.wrapper .inputbox button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.wrapper .inputbox input {
  -webkit-appearance: none;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 70px;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #ccc;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.wrapper .inputbox input:focus {
  border-color: #3498db;
}
.wrapper .timer {
  display: none;
}
.is-countdown {
  width: 100%;
  background: #fff;
  border: none;
}
.countdown-section {
  float: none;
}
.countdown-section .countdown-amount {
  font-size: 80px;
  font-weight: bold;
}
.preload {
  width: 50px;
  height: 50px;
  font-size: 100px;
  font-weight: bold;
  margin: 0 auto;
}
